.App {
  text-align: center;
  height: auto;
  background-color: black;
}
.map_container {
  position: absolute;
  top: 250px;
  left: 900px;
  width: 400px;
  height: 400px;
}
.graph {
  position: relative;
  top: 10px;
  left: 50px;
  height: 600px;
  width: 700px;
  border: 10px;
}

.input {
  margin-top: 20px;
  position: relative;
  color: aliceblue;
  height: 40px;
}

.input1 {
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  background-color: aquamarine;
}
.input1 > * {
  margin-left: 10px;
}

.input2 {
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  background-color:blanchedalmond;
}
.input2 > * {
  margin-left: 10px;
}